/* Universal styling */
  *, *::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Source Serif Pro', serif;
    font-weight: 200;
    background-color: var(--background); 
    margin: 0;
    padding: 0;
    line-height: 1.5;

  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  li, a {
    text-decoration: none;
  }

  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Source+Serif+Pro:wght@200;300;600&display=swap');

  :root {
    --background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    --first-color:  #062925; 
    --second-color: #044a42; 
    --third-color: #3a9188; 
    --fourth-color:  #b8e1dd; 
    --border-radius: 5px;
    --transition: all 0.3s ease-in-out 0.1s;
    --trasition-two: all 1000ms ease-in-out 0.9;
    --transition-three: all 0.3s ease 0s;
  }


  /* Logo */

  header {
    position: fixed;
    text-align: center;
    z-index: 999;
    background: var(--fourth-color);
    width: 100%;
    padding: 10px;
  }

  header .logo {
    color: var(--first-color);
  }

  /* Nav section */

  .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }

  .nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }

  .nav-toggle-label span::before {
    bottom: 7px;
  }

  .nav-toggle-label span::after {
    top: 7px;
  }

  nav {
    text-align: left;
    background-color: var(--fourth-color);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition:all 400ms ease-in-out;
  }

  nav ul {
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    margin-bottom: 1em;
    margin-left: 1em;;
  }

  nav a {
    color: var(--first-color);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  nav a:hover {
    color: white;
    cursor: pointer;
  }

  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }

  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

  /* hero section */

  .hero-banner {
    background-image: url(../resources/images/gina.jpg);
    background-color: var(--background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* main page wrapper */

  .page-wrapper {
    max-width: 88%;
    margin-right: auto;
    margin-left: auto;
  }

  /* about me section */

  .page-section {
    margin: 50px 0;
    padding: 10px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: left;
  }

  .page-section > h2 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    flex: 0 0 20%;
    text-align: right;
    padding-right: 20px;
    border-right: 5px solid var(--first-color);
    line-height: 1;
    font-size: 30px;
    color: var(--first-color);
  }

  .page-section > div {
    flex: 0 0 80%;
    padding-left: 40px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 1.5;
  }

  .page-section > p {
    margin-bottom: 15px;
  }

  /* Project section */

  #grid-area {
    display: grid;
    width: 80%;
    padding-left: 40px;
    gap: 20px;
    grid-template-rows: 300px 200px 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "project1 project1"
    "project2 project3"
    "project4 project5"
  }

  #project1 {
    grid-area: project1; 
    background-image: url(../resources/images/02-portfolio-4.jpg);
  }

  #project2 {
    grid-area: project2; 
    background-image: url(../resources/images/02-portfolio-1.jpg);
  }

  #project3 {
    grid-area: project3; 
    background-image: url(../resources/images/02-portfolio-2.jpg);
  }

  #project4 {
    grid-area: project4; 
    background-image: url(../resources/images/02-portfolio-3.jpg);
  }

  #project5 {
    grid-area: project5; 
    background-image: url(../resources/images/02-portofolio-5.jpg);
  }

  .portfolio-container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    align-content: end;
    padding-bottom: 15px;
    border-radius: var(--border-radius);
  }

  .portfolio-container:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: var(--transition-three);
  }

  .project {
    max-width: 250px;
    color: var(--fourth-color);
    background-color: var(--first-color);
    border-radius: var(--border-radius);
    margin-left: 5px;
    padding-left: 5px;

  }

  /* Contact  */
  
  footer {
    margin: 100px 0 0 0;
    background-color: var(--fourth-color);
    width: 100%;
  }

  .contact address {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  h2.contact-me {
    font-size: 32px;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-top: 25px;
  }

  .contact address a {
    color: var(--first-color);
    font-size: 40px;
    border-radius: var(--border-radius);
    margin: 60px;
  }
  
  .contact address a:hover {
    color: var(--third-color);
    background-size: 100% 100%;
    transition: var(--transition);
  }
  
  .page-section .contact-me {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
  }


  @media screen and (min-width: 800px) {
    .nav-toggle-label {
      display: none;
    }

    header {
      display: grid;
    }

    .logo {
      grid-column: 2 / 3;
    }
    
    nav {
      position: relative;
      text-align: left;
      transition: none;
      transform: scale(1,1);
      background: none;
      top: initial;
      left: initial;
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    nav ul {
      display: flex;
    }

    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }

    nav a {
      opacity: 1;
      position: relative;
    }

    nav a::before {
      content: '';
      display: block;
      height: 5px;
      position: absolute;
      top: -.75em;
      left: 0;
      right: 0;
      transform: scale(0,1);
      transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
      transform: scale(1,1);
    }
  }

  @media screen and (max-width: 800px) {
    #grid-area {
      grid-template-columns: 500px;
      grid-template-rows: 300px 300px 300px 300px 300px;
      grid-template-areas: 
      "project1"
      "project2"
      "project3"
      "project4"
      "project5"
      ;
    }
  }

  @media screen and (max-width: 600px) {
    .page-wrapper {
      width: 100%;
    }

    .hero-banner {
      background-position: center;
    }
  }